name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
    build:
      name: Build
      runs-on: macos-12
      steps:
        - uses: actions/checkout@v3
        - name: Build
          run: swift build -v
        - name: Run tests
          run: swift test -v

